body{
    background-color: black;
    font-family: 'Merriweather', serif;
    min-width: 1475px;
}

header{
    width: 45%;
    border-bottom: #a7a9be solid 1px;
    position: relative;
    top: 15rem;
    color: #fffffe;
    font-size: 1em;
    min-width: 823.5px;
}

h1.animate__animated.animate__fadeInTopLeft {
    font-weight: 400;
    text-align: justify;  
}

a.animate__animated.animate__fadeIn{
    position: relative;
    top: 18rem;
    left: 20rem;

    font-weight: 900;
    background-color: #ff8906;
    text-decoration: none;
    color: #fffffe;
    border: 2px solid #0f0e17;
    padding: .75em 1.25em;
    border-radius: 4px;
}   

a.animate__animated.animate__fadeIn:hover{
    box-shadow: 5px 15px 50px rgba(255, 137, 6, 0.6);
}

a.animate__animated.animate__fadeIn:active{
    background-color: #f25f4c;
    box-shadow: 0px 15px 20px rgba(242, 95, 76, 0.4);
}


.imageslt {
    position: relative;
    left: calc(75% - 263px);
    top: -7rem;
    width: 526px;
}
